# Supabase Configuration
VITE_SUPABASE_URL=https://hojixnilttishopaeljo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_f5-zow_Mr67jRk_b6gdNpg_3bUUHIAs
SUPABASE_URL=https://hojixnilttishopaeljo.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_f5-zow_Mr67jRk_b6gdNpg_3bUUHIAs

# Razorpay Payment Gateway
VITE_RAZORPAY_KEY_ID=rzp_live_TOR78pOvdbvvqI
RAZORPAY_KEY_ID=rzp_live_TOR78pOvdbvvqI
RAZORPAY_KEY_SECRET=mL3a3hwConxvjn1wlF2OluHa


